<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ExizPrint | Reset Password</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset Your Password</h2>
    </div>
    {% if error %}
    <h3 class="form-title" style="margin-top:0px;font-height:0px; color:#CA1500;">{{ error }}</h3>
    {% endif %}
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        {% csrf_token %}
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Enter New Password</label>
          <div class="mt-2">
            {{form.password1}}
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Re-Enter Password</label>

          </div>
          <div class="mt-2">
            {{form.password2}}
          </div>
        </div>
        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            value="Register">Proceed</button>
        </div>
      </form>
      <div class="w-60"></div>
    </div>
  </div>
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
  <script src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js'></script>
</body>

</html>
